#p_breakfast_kanban-column-container-0,
#p_lunch_kanban-column-container-0,
#p_snack_kanban-column-container-0,
#p_breakfast_kanban-column-container-6,
#p_lunch_kanban-column-container-6,
#p_snack_kanban-column-container-6 {
    background-color: #d9d9d9;
    margin: 0px;
}

#allMeals_kanban{
    width:100%;
    height:100%;
}

#mealWork_kanban {
    position: absolute;
    bottom: 0px;
    width: 100%;
    float:right;
}
#buttonArea {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.jqx-kanban-item-color-status {
    width: 100%;
    height: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;
    margin-top: 0px;
    top: 0px;
}

.jqx-kanban-item {
    padding-top: 0px;
}

.jqx-kanban-item-text {
    padding-top: 3px;
}

.jqx-kanban-item-avatar {
    margin-top: 5px;
    border: 2px solid #2e2e2e;
}
.jqx-kanban-item-leftover {
    margin-top: 5px;
    border: 1px solid black;
}

.jqx-kanban-template-icon {
    position: absolute;
    right: 3px;
    top: 12px;
}

.icon-leftovers {
    width: 16px;
    height: 16px;
    margin: 0 auto;
    cursor: pointer;
    background-image: url(images/close.png);
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-widget-content-light {
    background-color: #ffffff;
    border-color: #c53030;
}

#labelSpacer{
    float: left;
    height: 21px;
    width: 13px;
    border: solid #eaeaea 1px;
    background-color: #f8f8f8;
}

#bigLabel{
    float:left; 
    height:128px; 
    border:solid #eaeaea 1px;
    border-bottom: solid black 1px;
}
#smLabel{
    float:left; 
    height:48px; 
    border:solid #eaeaea 1px;
    border-bottom: solid black 1px;
}