/* #p_breakfast_kanban-column-container-0 {
    background-color: #afadad;
}
#p_lunch_kanban-column-container-0 {
    background-color: #afadad;
}
#p_snack_kanban-column-container-0 {
    background-color: #afadad;
} */



.jqx-kanban-item-color-status {
    width: 100%;
    height: 25px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;
    margin-top: 0px;
    top: 0px;
}

.jqx-kanban-item {
    padding-top: 0px;
}

.jqx-kanban-item-text {
    padding-top: 6px;
}

.jqx-kanban-item-avatar {
    margin-top: 5px;
    border: 1px solid black;
}
.jqx-kanban-item-leftover {
    margin-top: 5px;
    border: 1px solid black;
}

.jqx-kanban-template-icon {
    position: absolute;
    right: 3px;
    top: 12px;
}

.icon-leftovers {
    width: 16px;
    height: 16px;
    margin: 0 auto;
    cursor: pointer;
    background-image: url(images/close.png);
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-widget-content-light {
    background-color: #ffffff;
    border-color: #c53030;
}

